/* Capas.css */
.sidenav {
  height: 241px;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: -300px; /* Inicialmente oculta */
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: baseline */
}

.sidenav.open {
  bottom: 0; /* Muestra la barra */
}

.left-section,
.center-section,
.right-section {
  /* flex: 1; */
  padding: 10px;
}

.left-section {
  display: flex  ;
  width: 5%;
  text-align: left;
  flex-direction: column;
}

.center-section {
  text-align: center;
  display: none; /* Ocultar inicialmente */
}

.center-section.show {
  width: 32%;
  height: 71%;
  display: flex
;}

.right-section {
  display: flex;
  width: 20%;
  text-align: center;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.open-btn {
  font-size: 25px;
  cursor: pointer;
  position: fixed;
  bottom: 20px; /* Posición inicial del botón */
  left: 20px;
  z-index: 2;
  background-color: #111; /* Fondo del botón */
  color: white; /* Color del texto */
  border-radius: 50%; /* Forma circular */
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para resaltar */
  transition: 0.5s; /* Animación sincronizada con la barra */
}

/* Cuando la barra está abierta, el botón sube junto con ella */
.sidenav.open + .open-btn {
  bottom: 245px; /* Ajusta esta posición según la altura de la barra */
}

/* Estilos para la tabla */
.center-section {
  margin: 20px;
  max-height: 400px; /* Altura máxima de la tabla */
  overflow-y: auto; /* Hacer que el contenido sea desplazable verticalmente */
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  height: 67px;
  padding: 11px;
  border: 1px solid #ddd;
  text-align: left;
}

table tr {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}
.td{
  display: flex;
  width: 10px;
  height: 10px;
}
