/* Mapa.css */
.map-container {
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  margin: 0;
  padding: 0;
}

.map-view {
  width: 100%;
  height: 100%;
}

.visibeMap {
  display: none;
}

.esri-ui-top-left.esri-ui-corner {
  display: flex;
  background: rgb(5, 5, 5);
  position: absolute;
  width: min-content;
  height: max-content;
  align-items: flex-end;
  top: 11rem;
  right: 4rem;
  flex-direction: column;
}

.esri-ui-inner-container.esri-ui-manual-container {
  display: none;
}

button.toggle-button {
  height: max-content;
  top: 154px;
  right: 4rem;
  position: absolute;
}